{% extends "base.html" %}
{% block style %}
  .products .img:hover{
    opacity: 70%;
  }
{% endblock %}
{% block content %}
  <div class="container-fluid upp" style="margin-top: 9%; margin-bottom: 0px; z-index: 2;" >
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb p-3 bg-body-tertiary rounded-3">
        <li class="breadcrumb-item"><a href="{{ url_for('home') }}">Home</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('all') }}">Services</a></li>
        {% if not the_data.subservice %}
          <li class="breadcrumb-item"><a href="{{ url_for('services', name=the_data.services.category_name) }}">{{the_data.services.name}}</a></li>
        {% else %}
          <li class="breadcrumb-item"><a href="{{ url_for('services', name=the_data.subservice.services.category_name) }}">{{the_data.subservice.services.name}}</a></li>
          <li class="breadcrumb-item"><a href="{{ url_for('services', name=the_data.subservice.services.category_name, sec=the_data.subservice.category_name) }}">{{the_data.subservice.name}}</a></li>
        {% endif %}
        <li class="breadcrumb-item active" aria-current="page">{{ the_data.name }}</li>
      </ol>
    </nav>
  </div>


  <div class="row flex-lg-row-reverse service-hero g-5 mb-5 pb-5 container-fluid" >
    <div class="col-12 col-sm-12 order-2 order-lg-1 service-c col-lg-7" >
        <div id="myCarousel" class="carousel slide mb-2" data-bs-ride="carousel" >
          <div class="carousel-indicators" >
            <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
            {% for i in range(1, 3) %}
              {% if the_data.image_collections|length >= i %}
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{ i }}" aria-label="Slide {{i+1}}" class=""></button>
              {% endif %}
            {% endfor %}
          </div>
          <div class="carousel-inner" >
            <div class="carousel-item active" >
              {% if the_data.image_collections|length == 0 %}
                <img src="{{ url_for('static', filename='images/'+the_data.image_url) }}">
              {% else %}
                <img src="{{ url_for('static', filename='images/'+the_data.image_collections[0].image_collections) }}">
              {% endif %}
            </div>
            {% for n in range(1, 3) %}
              {% if the_data.image_collections|length != 0 %}
                      <div class="carousel-item">
                        <img src="{{ url_for('static', filename='images/'+the_data.image_collections[n].image_collections) }}">
                      </div>
              {% endif %}
            {% endfor %}
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
              <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0"/>
            </svg>
            <span class="visually-hidden">Previous</span>
          </button> <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
          </svg>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
  </div>
    <div class="col-lg-5 service-c-2 order-1 order-lg-2">
      <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{{ the_data.name }}</h1>
      <p class="lead">{{ the_data.description }}
        <br>
      {% if not the_data.subservice %}
        <a href="{{url_for('contact', head=the_data.services.category_name)}}" style="font-size: 100%; border: 4px solid" class="btn btn-outline-primary rounded-pill mt-5 px-3 py-2">Get Quote Now</a>
      {% else %}
        <a href="{{url_for('contact', head=the_data.subservice.services.category_name)}}" style="font-size: 100%; border: 4px solid" class="btn btn-outline-primary rounded-pill mt-5 px-3 py-2">Get Quote Now</a>
      {% endif %}
    </div>
  </div>



<div class="container-fluid product-pad"><h2>Product Gallery</h2></div>
  <div class="row container-fluid product-edit row-cols-1 row-cols-lg-3 row-cols-md-2 align-items-stretch g-4 pt-2 pb-5">


  <!-- Card 1 -->
  {% for data in the_data.image_collections|reverse %}
    <div class="col">
      <div class="card cards card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"
           style="background-image: url({{data.image_collections}}); background-repeat: no-repeat; background-size: cover;
background-position: center;">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">
            Short title, long jacket
          </h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              <img src="https://github.com/twbs.png"
                   alt="Bootstrap" width="32" height="32"
                   class="rounded-circle border border-white">
            </li>
            <li class="d-flex align-items-center me-3">
                <i class="bi bi-geo-fill"></i>
              <small>Earth</small>
            </li>
            <li class="d-flex align-items-center">
                <i class="bi bi-calendar3"></i>
              <small>3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endfor %}

</div>


<div class="special-text py-5 container-fluid">
{{ the_data.content|safe }}
</div>
{% endblock %}

{% block script %}

{% endblock %}