{% extends "base.html" %}

{% block content %}
  <div class="bg-body-tertiary min-vh-100 d-flex flex-row align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="card mb-4 mx-4">
              <div class="card-body p-4">
                <form method="POST">
                  <h1>Register</h1>
                  <p class="text-body-secondary">Create your account</p>
                  <div class="input-group mb-3"><span class="input-group-text">
                      <svg class="icon">
                        <use xlink:href="{{ url_for('static', filename='vendors/@coreui/icons/svg/free.svg')}}#cil-user"></use>

                      </svg></span>
                    <input class="form-control" name="name" type="text" placeholder="Username" required>
                  </div>
                  <div class="input-group mb-3"><span class="input-group-text">
                      <svg class="icon">
                        <use xlink:href="{{ url_for('static', filename='vendors/@coreui/icons/svg/free.svg')}}#cil-envelope-open"></use>
                      </svg></span>
                    <input class="form-control" name="email" type="email" placeholder="Email" required>
                  </div>
                  <div class="input-group mb-3"><span class="input-group-text">
                      <svg class="icon">
                        <use xlink:href="{{ url_for('static', filename='vendors/@coreui/icons/svg/free.svg')}}#cil-lock-locked"></use>
                      </svg></span>
                    <input class="form-control" name="password" id="password" type="password" placeholder="Password" required>
                  </div>
                  <div class="input-group mb-4"><span class="input-group-text">
                      <svg class="icon">
                        <use xlink:href="{{ url_for('static', filename='vendors/@coreui/icons/svg/free.svg')}}#cil-lock-locked"></use>
                      </svg></span>
                    <input class="form-control" name="re_password" id="confirm_password" type="password" placeholder="Repeat password" required>
                  </div>
                    <div id="passwordHelp" class="form-text pb-3"></div>
                  <button class="btn btn-block btn-success" id="submitBtn" style="color: white;" type="submit" disabled>Create Account</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


{% block script %}
    <script>
        const pw = document.getElementById("password");
        const cpw = document.getElementById("confirm_password");
        const helpText = document.getElementById("passwordHelp");
        const submitBtn = document.getElementById("submitBtn");

        function checkPasswords() {
            if (!pw.value || !cpw.value) {
                helpText.textContent = "";
                submitBtn.disabled = true;
                return;
            };
            if (pw.value === cpw.value) {
                helpText.textContent = "Passwords match!";
                helpText.style.color = "green";
                submitBtn.disabled = false;
            } else {
                helpText.textContent = "Passwords do not match!";
                helpText.style.color = "red";
                submitBtn.disabled = true;
            };
        }

        pw.addEventListener("input", checkPasswords);
        cpw.addEventListener("input", checkPasswords);



      const header = document.querySelector('header.header');

      document.addEventListener('scroll', () => {
        if (header) {
          header.classList.toggle('shadow-sm', document.documentElement.scrollTop > 0);
        }
      });
    </script>
{% endblock %}